* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'open sans';
}

img {
    max-width:100%;
}

/* NOTE TO REBBECCA/AMY - I MADE THIS WORK WITH 'FLOAT' 
AND 'CLEAR LEFT' THEN DECIDED TO SWITCH IT ALL TO 
FLEX-BOX. I JUST COMMENTED OUT THE OLD STUFF SO THAT'S
WHAT'S GOING ON. */

.heading {
    color: white;
    background-color: #083D77;
    border-bottom: 3px solid #BAF7FE;
    font-size: 16px;
    padding-top: 25px;
    padding-left:20px;
    height: 100px;
}

main {  
    padding-left:20px;
}

/* .new-row {
    clear: left
} */

/* .container {
    display: flex;
} */

.blurb {
    margin-bottom: 10px;
}

.doggo-container {
    display: flex;
    flex-wrap: wrap;
}

.doggo {
    width: 33%;
    Height: contain;
    /* background-color: red; */
    /* float: left; */
    padding: 10px;
    margin-bottom: 40px;
}

.doggo img {
    width:100%;
}

.doggo h3 {
    font-size:17px;
    text-align:left;
    /* clear:left; */
}

.doggo ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.doggo li {
    background-color: lightblue;
    border-radius: 8px;
    /* float:left; */
    margin: 5px;
    padding: 3px;
    font-size: 12px;
}

.doggo li:hover {
    background-color: pink;
}

.footer-container {
    /* clear: left; */
    display: flex;
    align-items:stretch;
    height: 400px;
    width: 100%;
    
}
.foot-button {
    /* float:left; */
    height: 100%;
    /* background-color:blue; */
    width:33.33333%;
    text-align:center;
    font-size:50px;
    /* padding-top: 150px; */
    background-size: cover;
}

.foot-button a {
    color: white;
    font-family:'Oswald'; 
    text-decoration: none;
}

.foot-button a:hover {
    text-decoration: underline;
}

.donate {
    background: linear-gradient(rgba(30,9,110,0.5),rgba(30,9,110,0.5)),
                no-repeat center/cover url(starter_files/images/donate.jpg);
}
.volunteer {
    background: linear-gradient(rgba(30,9,110,0.5),rgba(30,9,110,0.5)),
                no-repeat center/cover url(starter_files/images/volunteer.jpg);
}
.our-location {
    background: linear-gradient(rgba(30,9,110,0.5),rgba(30,9,110,0.5)),
                no-repeat center/cover url(starter_files/images/location.png);
}

.button-container {
    display:flex;
    justify-content:center;
    align-items: center;
}